---
export interface Props {
  title: string;
  subtitle: string;
}

const { title, subtitle } = Astro.props;
---

<header class="p-4 bg-slate-200 text-slate-700">
  <div class="container mx-auto md:flex justify-around items-center flex-wrap">
    <div class="my-24">
      <a href="/" class="hover:no-underline hover:text-slate-600">
        <h1 class="text-5xl sans font-bold tracking-tighter">
          {title}
        </h1>
      </a>
      <p class="text-2xl serif italic">
        {subtitle}
      </p>
    </div>
    <nav class="my-24">
      <ul class="lowercase text-lg leading-relaxed serif">
        <li><a href="/">About</a></li>
        <li><a href="/work">My work</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/resume">Resume</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
